/* CSS file */


body {
	background-color:  #F0ECE6;
  max-width: 80%;
  margin: 0 auto;
}

main {
  width: 90%;
  margin: 0 auto; 
}

header {
  text-align: center;
  font-size: 80px;
}

footer {
 display: flex;
  align-items: center;
  justify-content: center;
  
}

p {
  text-align: left;
  margin left: 60px;
}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cc6699;
    margin: 1em 0;
    padding: 10px;
  }


h1 {
  margin: 10px; 
	text-align: center;
  font-size: 60%;
}

h2 {
	text-align: left;
  margin: 10px;
  font-size: 30%;
   font-style: italic;
}

h3 {
  text-align: left;
	 font-family: Georgia;
  padding:  20px;
  font-size: 20%;
}